@import "normalize.css";

@import "headers";
@import "links";
@import "rainbow";

body {
  font-family: 'Roboto', sans-serif;
  color: #555555;
  background: #FFFFFF;
  -webkit-animation: fadein 1s;
  -moz-animation: fadein 1s;  
  -ms-animation: fadein 1s;
  animation: fadein 1s;
}

#container {
  width: 50%;
  margin: 2em auto 2em auto;
  font-size: 1.25rem;
  &.poems {
    font-size: 1rem;
    p {
      &.cite {
        margin-top: 50px;
        cite {
          font-size: .75rem;
          color: #999999;
          a {
            color: #666666;
          }
        }
      }
    }
  }
}

.me-links {
  padding: 0;
  margin: 1em 0 0 0;
  li {
    list-style: none;
    display: inline;
    letter-spacing: .25em;
  }
}

#more {
  margin: 2em;
}

ul {
  padding: 0 0 0 .5em;
}

li {
  list-style: none;
  margin-bottom: .65em;
}

@media only screen and (max-width: 480px) {

  #container {
    width: 90%;
    margin: 0 auto 0 auto;
    font-size: .85em;
  }

}
