@import url(normalize.css);

body {
  background-color: #edede9;
  color: #111111;
  font-family: "Crimson Text", serif;
  font-weight: 400;
  font-style: normal;
}

h1,
h2,
h3 {
  padding: 0;
  margin: 0;
  font-weight: normal;
}

h1 {
  font-size: 3em;
  color: #222222;
  font-style: italic;
  font-weight: normal;
}

h1 a,
h1 a:link, 
h1 a:active{
  text-decoration: none;
}
a:link,
a:visited,
a:active {
  color: #00468b;
  text-decoration: underline;
}

a:hover {
  text-decoration: underline;
  /* color: #00468b; */
  color: #8B4500;
}

#container {
  width: 50%;
  margin: 2em auto 2em auto;
  font-size: 1.25rem;
}

ul.me-links {
  padding: 0;
}
.me-links li {
  font-size: 1.75rem;
  list-style: none;
  display: inline;
  letter-spacing: 0.15em;
}

ul.poems-list {
  /* list-style: none; */
  list-style-type: square;
}

ul.poems-list li::marker{
  color: #00468b;
}

ul.writing-list li a {
 text-decoration: none;
}

ul.writing-list li a:hover {
 text-decoration: underline;
}